
.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}




.buta-btn {
  border-radius: 5px;
  padding: 10px 50px;
  margin: 20px;
  font-size: 22px;
  font-weight: 500;
  color: $secondary_color;
  border: 2px solid $secondary_color;
  background: transparent;
  transition: 0.2s ease-in-out;
  text-decoration: none !important;

  &:hover {
    color: #fff;
    border: 2px solid $primary_color;
    background: $primary_color;
  }
  &:active {
    color: #fff;
    border: 2px solid $secondary_color;
    background: $secondary_color;
  }
}


.touchable-text {
  text-decoration: none !important;
  .touchable-title {
    color: #8E8E8E;
  }

  .touchable-subtitle {
    color: #8E8E8E;
  }

  &:hover {
    .touchable-title, .touchable-subtitle {
      text-decoration: none !important;
      color: #2583F0;
    }
  }
}


.primary-btn {
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  border: none;
  background: #000;
  transition: 0.2s ease-in-out;
  text-decoration: none !important;

  &:hover {
    background: rgba(0,0,0,0.5);
  }
  &:active {
    background: #000;
  }
}



