.info_ {
  .image__section {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }
  .back_ {
    padding-top: 180px;
  }
}


@media (max-width: 992px) {
  .info_ {
    .title_ {
      display: flex;
      justify-content: flex-end;
      font-size: 28px !important;
    }
    p {
      font-size: 16px !important;
    }
    .image__section {
      display: flex;
      justify-content: flex-end !important;
      flex-direction: column-reverse;
      .img_ {
        img {
          width: 100%;
          object-fit: contain;
          min-height: 200px !important;
        }
        div {
          width: 100%;
          object-fit: contain;
        }
      }

    }
  }
  .back_ {
    padding-top: 0px !important;
    margin-left: -1.2rem;
  }
}


@media (max-width: 465px) {
  .info_ {
    .image__section {
      margin-left: 6rem;
    }
  }
}

@media (max-width:600px) {
  .info_ {
    .image__section {
      margin-left: 6rem;
    }
  }
}