.ultra-icon {
  animation: icon_animation 3s infinite ease-in-out;
}


@keyframes icon_animation {
  0% {transform: rotate(0deg)}
  10% {transform: rotate(20deg)}
  50% {transform: rotate(90deg)}
  95% {transform: rotate(-40deg)}
  100% {transform: rotate(0deg)}
}


.ultrafix-logo {
  max-width: 40vw;
  margin-bottom: 7vh;
}
