
.nums-box {
  width: 380px;
  display: flex;
  justify-content: center;
  font-size: 18px;
  padding: 10px 25px;
  font-weight: 500;
  color: #776490;
  border-radius: 0 0 10px 10px;
  //background: linear-gradient(90deg, rgba(124, 105, 150, 0) 0%, rgba(124, 105, 150, 0.1) 46.35%, rgba(124, 105, 150, 0) 100%);
  background: rgba(124, 105, 150, 0.1) 46.35%;
}

.MuiButton-label {
  svg {
    position: fixed;
    //top: 0;
    font-size: 2.5rem;
    padding: 0;
    color: #838383;
  }
}

.logo_ {
  .img_ {
    position: absolute;
    width: 250px;
    margin-left: 80px;
    //margin-top: 70px;
  }
}

.slogan_ {
  margin-top: 120px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  img {
    width: 100%;
    object-fit: contain;
  }
  .h1_ {
    font-size: 35px;
    font-weight: 300;
    color: #776490;
    text-align: center;
  }
}

.q_buttons {
  display: flex;
  margin: 3rem 0 1rem 0;
}


@media (max-width: 1200px) {
  .logo_ {
    width: 100%;
    display: flex;
    justify-content: center;
    .img_ {
      position: relative !important;
      width: 300px;
      margin-left: 0;
      margin-top: 70px;
    }
    .back_icon {
      display: none !important;
    }
  }

  .slogan_ {
    margin-top: 10px;
    width: 100%;
    img {
      position: relative;
    }
    .h1_ {
      font-size: 27px;
    }
  }


  .q_buttons {
    width: 90%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    button {
      width: 100% !important;
      font-size: 17px;
      margin: .6rem 0;
    }
    .buta-btn {
      width: 100% !important;
      font-size: 17px;
      margin: .6rem 0;
      display: flex;
      justify-content: center;
    }
  }

  .bm_buttons {
    //margin-top: 3rem;
    display: none;
  }
}

@media (max-width: 768px) {
  .slogan_ {
    margin-top: -250px;
    .h1_ {
      font-size: 17px;
    }
  }

  .bm_buttons {
    display: flex;
    justify-content: center;
    margin-top: 1.2rem;
    .back {
      width: 50px;
      height: 50px;
      display: flex;
      margin: 0 30px;
      justify-content: center;
      align-items: center;
      border-radius: 500rem;
      background-color: #8F73B6;
      transition: all .3s ease;
      img {
        width: 1.5rem;
        transition: all .3s ease;
      }
      &:first-child {
        img {
          width: 1.7rem !important;
        }
      }
      &:hover {
        cursor: pointer;
        background-color: #a57cde;
        img {
          transform: scale(1.1);
        }
      }
    }

  }


}
